.document-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-spacing-xxl);
  width: 100%;
}

.editor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-spacing-small);
}

/* Base styles for all buttons in the editor container */
.editor-container > * {
  background-color: var(--surface-surface-primary);
  border: 1px solid var(--border-border-primary);
  border-radius: var(--radii-radii-primary);
}

/* Specific styles for icon buttons */
.editor-container .icon-button {
  width: var(--spacing-spacing-xxl);
  height: var(--spacing-spacing-xxl);
  padding: var(--spacing-spacing-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

