.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 14px;
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  border-color: #000000;
}

.expanded {
  background-color: #F5F5F5;
  border-color: #000000;
} 