.bottom-bar {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-medium);
  align-items: center;
}


.bottom-bar__profile-image {
  width: var(--spacing-spacing-xxl);
  height: var(--spacing-spacing-xxl); 
  border-radius: var(--radii-radii-primary);
  object-fit: cover;
}

.bottom-bar__search-button {
  width: var(--spacing-spacing-xxl);
  height: var(--spacing-spacing-xxl);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-surface-primary);
  border: 1px solid var(--border-border-primary);
  border-radius: var(--radii-radii-primary);
  padding: var(--spacing-spacing-small);
}

.bottom-bar__search-icon {
  width: var(--spacing-spacing-medium-large);
  height: var(--spacing-spacing-medium-large);
} 