.bottom-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* 2 in Tailwind = 0.5rem */
  align-items: center;
}

.bottom-bar__profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem; /* 2.5 in Tailwind = 0.625rem */
}

.bottom-bar__profile-image {
  width: 3rem; /* w-12 = 3rem */
  height: 3rem; /* h-12 = 3rem */
  border-radius: 0.5rem; /* rounded-lg = 0.5rem */
  object-fit: cover;
}

.bottom-bar__search-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #E3E3E3;
  border-radius: 0.5rem;
  padding: 0.25rem; /* p-1 = 0.25rem */
}

.bottom-bar__search-icon {
  width: 1rem; /* w-6 = 1.5rem */
  height: 1rem; /* h-6 = 1.5rem */
} 